{{#each articles as |article|}}
  <a class="view" href="/article/{{id}}">
    <section>
      <div class="title_header">
        <h3>{{article.title}}</h3>
      </div>
      <div class="content_body">
        <h4>
          {{article.content}}
        </h4>
        <div class="user_date">
          <h5 id="username">{{article.user.username}}</h5>
          <span>/</span>
          <h5 id="date">{{format_date article.date_created}}</h5>
        </div>
      </div>
    </section>
  </a>
{{/each}}
<script src="/js/view.js"></script>