{{#each post as |post|}}
  <section>
    <div class="title_header">
      <h3>{{title}}</h3>
    </div>
    <div class="content_body">
      <h4>
        {{content}}
      </h4>
      <div class="user_date">
        <h5 id="username">{{name}}</h5>
        <span>/</span>
        <h5 id="date">{{date}}</h5>
      </div>
      {{#if has_comment}}
        <div class="comments">
          <li id="adjust">COMMENTS</li>
          <h4>{{comment}}</h4>
        </div>
      {{/if}}
    </div>
  </section>
{{/each}}